#body {
    background-image: url('../assets/Images/login.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #1f2634;
    font-family: 'Roboto', sans-serif;
}
