<app-navbar [user]="nameOrEmail" [visible]="'block'">
</app-navbar>
<br>
<br>
<div class="container py-4 mt-6" id="contenedor">
    <div class="row">
        <div class="col-xxl-3 col-md-3" *ngFor="let data of infoData" id="tarjetas">
            <div id="cardsto">
                <div class="card border-light mb-5" [ngStyle]="{ 'background-color': getBackground(data.id) }">
                    <div class="card-header px-1 py-1 text-light">
                        <!--<h3 class="card-title text-success fs-5 text-light">
                            <i *ngIf="data.id==='Nivel Tanque'" class="fa fa-water"></i> <i *ngIf="data.id==='Ph'" class="fa fa-droplet"></i> <i *ngIf="data.id==='Temperatura Actual'" class="fa fa-temperature-three-quarters"></i> &nbsp;<strong id="card-title"><p *ngIf="data.id==='Temperatura Actual'">Temperatura (°C)</p> <p *ngIf="data.id==='Nivel Tanque'">Nivel tanque(%)</p><p *ngIf="data.id==='Ph'"> Ph</p></strong>
                        </h3>-->
                        <h1 class="card-title text-center text-success fs-5 text-light">
                            <strong id="card-title"><p *ngIf="data.id==='Temperatura Actual'"><i class="fa fa-temperature-three-quarters"></i> Temperatura (°C)</p> <p *ngIf="data.id==='Nivel Tanque'"><i class="fa fa-water"></i> Nivel tanque(%)</p><p *ngIf="data.id==='Ph'"><i class="fa fa-droplet"></i> Ph</p><p *ngIf="data.id==='Fecha'"><i class="fa fa-clock"></i> Ultima actualización</p></strong>
                        </h1>
                    </div>
                    <div class="card-body text-center text-light">

                        <h3 *ngIf="data.id==='Fecha'; else elseblock" [ngStyle]="{'font-size':'27.71px'}"><strong>{{ data.valor }}</strong></h3>
                        <ng-template #elseblock>
                            <h3><strong>{{ data.valor }}</strong></h3>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <h1 class="mb-0 h5 text-white text-center"><i class="fa-solid fa-chart-line"></i> Indicadores actuales</h1>
            </div>
            <!--Historico de tanque-->
            <div class="container pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="text-center rounded p-4">
                            <!--Información Nivel tanque--><canvas id="myChart" style="
                  position: relative;
                  display: block;
                  box-sizing: border-box;
                  height: 258px;
                  width: 320px;
                ">
              </canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="p-4 chartjs-wrapper">
                            <canvas id="myGauge"></canvas>
                            <div *ngFor="let data of humedadG" id="tarjetas" id="cardsto2">
                                <div>
                                    <h1 class="h1"> {{ data.valor }} %</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Fin historico -->
            <!-- Humedad gauge  -->

            <!-- fin gauge      -->
            <div>
                <div class="ct-chart-line col-sm-12 col-xl-12">
                    <!--Información lineas-->
                    <canvas id="Linea"> </canvas>
                </div>
            </div>
            <br>
            <div class="container">
                <div>
                    <h1 class="mb-0 h5 text-white text-center"><i class="fa-solid fa-chart-line"></i> Indicadores por semana</h1>
                    <br>
                </div>

                <div class="container pt-4 px-4">
                    <div class="row g-4">
                        <div class="col-sm-12 col-xl-6">
                            <div class="text-center rounded p-4">
                                <!--Información Nivel tanque--><canvas id="myChart2" style="
                    position: relative;
                    display: block;
                    box-sizing: border-box;
                    height: 240px;
                    width: 320px;
                  ">
                </canvas>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xl-6">
                            <div class="text-center rounded p-4">
                                <!--Información Nivel tanque-->
                                <canvas id="Linea2" style="height: 240px;
                                width: 320px;"> </canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid pt-4 px-4">
                    <!--Información tabla-->
                    <div class=" text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0 h5 text-white text-center">
                                <strong><i class="fa fa-chart-line"></i> Información por nivel</strong>
                            </h6>
                        </div>

                        <div class="table-responsive">
                            <!--<table class="table text-start align-items-center table-bordered table-hover table-sm mb-0 w-35 h-35 table-striped table-dark d-flex justify-content-center">-->
                            <table class="table table-bordered table-hover table-striped table-sm mb-1 text-center text-justify justify-content-center " id="tabla" style="white-space: nowrap; overflow-x: auto;">
                                <thead>
                                    <tr>

                                        <th>Nivel</th>

                                        <th>Temperatura (°C)</th>

                                        <th>Estado de nivel de agua</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of TemperaturaNivel">

                                        <td id="td" class="align-items-center">{{ data.nivel }}</td>

                                        <td id="td" class=" mx-auto my-auto justify-content-center">{{ data.temperatura }}</td>

                                        <td id="ancho" class="text-center col-md-5">
                                            <div class="col text-justify text-center d-block mx-auto" id="circulo" [ngStyle]="{
                                        'background-color': getBackgroundColor(data.valor)
                                      }"></div>
                                        </td>


                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="d-block align-items-center justify-content-between mb-4">
                    <h6 class="mb-0 h5 text-white text-center">
                        <strong><i class="fa fa-arrow-rotate-right"></i> Recirculación del agua</strong>
                    </h6>
                </div>
                <div class="container-fluid" id="contenedor2">
                    <div class="row">
                        <div class="continer-fluid justify-content-center text-justify" id="container">
                            <i class="fa-solid fa-shower fa-9x sm-12" id=" iconshow " width="400px "></i>
                        </div>
                        <div class="col-sm ">
                            <div>
                                <h2 id="tituloTar ">Activar/Desactivar motobomba</h2>
                                <br>
                                <p class="text-justify ">Recuerde que mantener hidratadas sus plantas y el agua en constante movimiento, ayuda a que los nutrientes se distribuyan a través de las plantas, no se generen hongos o enfermedades y sobre todo su cultivo se mantenga
                                    en optimas condiciones.
                                </p>
                                <div>
                                    <button type="button " class="btn btn-primary btn-outline-light btn-lg col-xs-12 col-xl-12 btn-block " id="boton " (click)="Bomba(estadoBomba) " [ngClass]="{ 'bg-success':estadoBomba==0, 'bg-danger':estadoBomba==1}
                                "><i *ngIf="estadoBomba==0 " class="fa fa-hand-holding-droplet "></i><i *ngIf="estadoBomba==1 " class="fa-solid fa-leaf "></i> {{estadoBombaLabel}}</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div>
        <div>
            <button type="button " class="btn btn-primary btn-lg btn-block col-sm-6 col-xs-12 col-xl-6 " id="boton " (click)="Bomba(estadoBomba) " [ngClass]="{ 'bg-success':estadoBomba==0, 'bg-danger':estadoBomba==1} "><i class="fa fa-hand-holding-droplet "></i> {{estadoBombaLabel}}</button>
        </div>
    </div>-->


        </div>